	html{
        background:linear-gradient(to left,black,#003040);
         /*filter:hue-rotate(150deg); */
        position:relative;
        z-index: 0;
        height: 100%;
		min-height: 100vh;
		margin: 0;
		padding: 0;
        scroll-behavior: smooth;
    }
	body {
        box-shadow: inset 0 0 20px black;
      display:relative;
      /*flex-direction: column;*/
      align-items:center;
      justify-content: center;
      margin: 0;
      padding: 0;
      width:100%;
      font-family: 'Vazirmatn', sans-serif;
      /*background:radial-gradient(#00071D,#191919,black);*/
      /*
      background-image: url("https://cdn.imgurl.ir/uploads/h723966_bg_edit_94735509946481.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: top-right;
      */
      color: white;
      text-align: center;
	  user-select: none;
      transition: all 10s ease;
      text-direction: rtl;
      opacity: 0;
    }
    .content{
       /* position:absolute;
        top:0;
        left:5%;*/
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content: center;
      width: 90%;
    }
    .column{
      width:100%;
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content: center;
    }
    .bg{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      pointer-events: none;
    }
    .layer1{
        position:relative;
        z-index: 0;
    }
    .layer2{
        position:fixed;
        z-index: 1;
    }
    body.show{
        opacity:1;
    }
    header {
      padding: 40px 20px 20px;
    }
    .img {
	  margin-top: 20px;
	  z-index: 11;
	  width: 160px;
	  height: 160px;
	  border-radius: 50%;
	  box-shadow: 0 0 10px black;
	  /* Gradient بزرگتر از عنصر */
	  background: linear-gradient(90deg, #82FAFF, #FF6060 ,#FF6060, #82FAFF);
	  background-size: 200% 200%; /* اندازه بزرگتر برای حرکت */
	  background-position: 0% 0%; /* شروع */
      animation: img 10s infinite;
	  transition: background-position 2s ease, border-radius 2s ease;
	}

	.img:hover {
	  /* تغییر موقعیت background برای حس حرکت زاویه */
	  background-position: 100% 100%;
	  border-radius: 10%;
	}
    @keyframes img{
        0% {transform: perspective(400px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;}
        30% {transform: perspective(400px) rotateZ(10deg) rotateY(18deg) translateY(-10px);}
        70% {transform: perspective(400px) rotateY(20deg) translateY(10px);}
        100% {transform: perspective(400px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
    }
    .title.show,.blue.show,.button.show{
       opacity: 1;
       transform: scale(1) translateY(0px);
    }
    .title {
        opacity: 0;
        transform: scale(0.5) translateY(-100px);
      margin-top: 20px;
      font-size: 30px;
      text-shadow: 0px 2px 0px gray;
      animation: title 10s infinite;
    }
    @keyframes title{
        0% {text-shadow: 0px 2px 0px #00BBFF;transform: perspective(400px) rotateX(15deg);color:#CFFAFF;}
        25% {color:white;}
        50% {text-shadow: 0px -2px 3px #00BBFF;transform: perspective(400px) rotateX(-15deg);color:#CFFAFF;}
        75% {color:white;text-shadow: 0px -2px 5px #00BBFF;}
        100% {text-shadow: 0px 2px 0px #00BBFF;transform: perspective(400px) rotateX(15deg);color:#CFFAFF;}
    }
    .gray{
      transition: all 2s ease; 
    }
    .gray:active{
       transform: scale(0) skewX(80deg) perspective(400px) rotateX(180deg);
       opacity: 0;
    }
    h6 {
      font-size: 1em;
      color: gray;
      text-shadow: 0px 0px 2px black;
    }
    p {
      font-size: 1.2em;
      margin-bottom: 30px;
    }
    .button {
        opacity: 0;
        transform: scale(0.5) translateY(-100px);
      display: block;
      backdrop-filter: blur(3px) brightness(120%);
        will-change: backdrop-filter;
      background: linear-gradient(to right, rgba(255,255,255,0.2), rgba(255,255,255,0.1), rgba(255,255,255,0.2));
      width: 130px;
      margin: 10px;
      padding: 15px 30px;
      /*background: linear-gradient(to right, #22FEFF, #00FCFA, #00CCFA);*/
      color: #55EAFF;
      text-decoration: none;
      border-radius: 10px;
      font-weight: bold;
      /*border: 3px groove #0050AA;*/
      transition: transform 0.5s;
      box-shadow: 0px 5px 25px rgba(100,200,255,0.5);
    }
    @keyframes button {
        0%{filter: hue-rotate(360deg);}
        50%{filter: hue-rotate(50deg);}
        100%{filter: hue-rotate(360deg);}
    }
    .button:hover {
      transform: scale(1.3);
      animation:button 3s infinite;
    }
    .button:active{
      transform: scale(0.8);
    }
    .blue {
        opacity: 0;
        transform: scale(0.5) translateY(-100px);

      font-size: 1.2em;
      margin-bottom: 30px;
      font-weight: bold;
      color: #00ECFF;
      text-shadow: 2px 0px 2px brown;
      transition: transform 1s;
      animation: blue 2s infinite;
    }
    @keyframes blue{
        0% {text-shadow: 2px 2px 3px #0039FF;}
        25% {text-shadow: -2px 2px 3px #006CFF }
        50% {text-shadow: -2px -2px 3px #0039FF ;}
        75% {text-shadow: 2px -2px 3px #006CFF ;}
        100% {text-shadow: 2px 2px 3px #0039FF;}
    }
    .blue:hover{
      transform : scale(1.05);
      filter: hue-rotate(-10deg);
    }
    .box{
        opacity: 0;
        background-color: #00DDFF;
        color: black;
        width:70%;
        font-size:18px;
        border-radius: 20px;
        box-shadow: 0px 5px 10px #00DDFF;
        text-shadow: 0px 1px 1px;
        text-align: center;
        transition: all 2s ease;
        margin: 20px;
        margin-top: 50px;
        padding: 20px;
  	  user-select: text;
        transform: perspective(400px) translateY(100px) rotateX(180deg) scale(0);
    }
    .box:hover{
        filter:hue-rotate(360deg) invert(0%);
        color: #00DDFF;
        background-color: rgba(100,100,100,0.2);
        box-shadow: 0px 10px 0px rgba(200,200,200,0.2);
        border-radius: 10px;
    }
    .box:active{
        filter:hue-rotate(360deg) invert(100%);
    }
    .box.show {
	  opacity: 1;
      transform: perspective(400px) translateY(0px) rotateX(0deg) scale(1);
	}
    .footer-gradient{
      width: 100%;
      height: 100px;
      background: linear-gradient(to top, black,rgba(0,0,0,0.5), rgba(0,0,0,0));
    }
    .half{
      z-index:10;
      position: fixed;
      backdrop-filter: hue-rotate(120deg) brightness(110%);
      width:50%;
      height:100vh;
      top:0;
      right:0;
      transition:all 2s ease;
    }

    .go{
        transform:/*perspective(400px)*/ rotateZ(180deg) scaleX(0);
    }
    
    
    
    
    
    
    
